/poc/bin
/poc/obj
/**/*.log
/saictl-skel.tar.xz
/copy-out
/test
/whl
/asic_state
/test.tar.xz
/**/libsai.so*
/.vscode
/**/target
/lib/*.so*
/dl/**/*.deb
/dl/**/saibcm
/onie-sai-*-linux*.tar*
/artifacts/**
!/artifacts/.keepme
